@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center pt-5" style="opacity:50%">
    <h1>Welcome to the world where  
        <br />
        everything is 'inter-connected'!
    </h1>
    <img src="./images/home V4.png" />
</div>
